<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  <header>
    <%- include('./partials/header.ejs')%>
  </header>
  <main id="edit-main">
    <h2 class="page-title">Add a New Venue</h2>
    <form action="/venues" method="POST">
      <label for="venue-name">Name of Venue (required) </label>
      <input type="text" name="name" id="venue-name" value="<%=venue.name%>" size="30"><br/>
      <label for="venue-type">Type of Venue (stadium, arena, course, pool, etc.) </label>
      <input type="text" name="type" id="venue-type" value="<%=venue.type%>" size="30"><br/>
      <label for="venue-year">Year of Construction </label>
      <input type="text" name="year" id="venue-year" value="<%=venue.year%>" size="4"><br/>
      <label for="venue-capacity">Capacity </label>
      <input type="text" name="capacity" id="venue-capacity" value="<%=venue.capacity%>" size="15"><br/>
      <label for="venue-cost">Construction Cost $</label>
      <input type="text" name="cost" id="venue-cost" value="<%=venue.cost%>" size="20"><br/>
      <label for="venue-nicknames">Venue Nickname(s) (separate multiple entries with a comma and space) </label>
      <input type="text" name="nicknames" value="<%=venue.nicknames.join(', ')%>" size="30"><br/>
      <input type="checkbox" id="still-in-use" name="stillExists" 
        <% if(venue.stillExists) { %>
          checked
        <% } %>
      >
      <label for="still-in-use">Venue still in use?</label><br/>
      <label for="primary-sport">Venue's primary sport </label>
      <input type="text" name="pSport" value="<%=venue.pSport%>" size="15"><br/>
      <label for="venue-pTeam">Venue's primary team/tenant </label>
      <input type="text" name="pTeam" id="venue-pTeam" value="<%=venue.pTeam%>" size="30"><br/>
      <label for="venue-sSports">Other sports (separate multiple entries with a comma and space) </label>
      <input type="text" name="sSports" id="venue-sSports" value="<%=venue.sSports.join(', ')%>" size="30"><br/>
      <label for="venue-sTeams">Other teams/tenants (separate multiple entries with a comma and space) </label>
      <input type="text" name="sTeams" id="venue-sTeams" value="<%=venue.sTeams.join(', ')%>" size="50"><br/>
      <label for="venue-city">City </label>
      <input type="text" name="city" id="venue-city" value="<%=venue.city%>" size="20"><br/>
      <label for="venue-state">State (or Province) </label>
      <input type="text" name="state" id="venue-state" value="<%=venue.state%>" size="20"><br/>
      <label for="venue-country">Country </label>
      <input type="text" name="country" id="venue-country" value="<%=venue.country%>" size="20"><br/>
      <label for="venue-oImg">Picture of Venue from outside (enter image url) </label>
      <input type="url" name="outsideImg" id="venue-oImg" value="<%=venue.outsideImg%>" size="50"><br/>
      <label for="venue-iImg">Picture of Venue from inside (enter image url) </label>
      <input type="url" name="insideImg" id="venue-iImg" value="<%=venue.insideImg%>" size="50"><br/>
      <label for="venue-highlight">YouTube link to an historic moment that occurred at this venue </label>
      <input type="url" name="highlightURL" id="venue-highlight" value="<%=venue.highlightURL%>" size="50"><br/>
      <label for="venue-mapsURL">Google Maps link </label>
      <input type="url" name="mapsURL" id="venue-mapsURL" value="<%=venue.mapsURL%>" size="50"><br/>
      <label for="venue-website">Venue Website </label>
      <input type="url" name="website" id="venue-website" value="<%=venue.links.website%>" size="50"><br/>
      <label for="venue-twitter">Venue on Twitter </label>
      <input type="url" name="twitter" id="venue-twitter" value="<%=venue.links.twitter%>" size="50"><br/>
      <label for="venue-fb">Venue on Facebook </label>
      <input type="url" name="fb" id="venue-fb" value="<%=venue.links.fb%>" size="50"><br/>
      <label for="venue-ig">Venue on Instagram </label>
      <input type="url" name="ig" id="venue-ig" value="<%=venue.links.ig%>" size="50"><br/>
      <input type="submit" value="UPDATE Venue with These Values">
    </form>
  </main>

</body>
</html>