<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs')%>
</head>
<body>
  <header>
    <%- include('./partials/header.ejs')%>
  </header>
  <main id="index-main">
    <h2 class="page-title">List of Venues</h2><!--May replace w variable, eventually-->
    <h3>Current number of venues in database: <span class="counter"><%=venuesCount%></span></h3>
    <div class="container">
      <% for (let venue of venues) { %> 
        <div class="card">
          <a href="/venues/<%=venue.id%>">
            <img src="<%=venue.outsideImg%>" alt="pic of <%=venue.name%>">
            <h3><%=venue.name%></h3>
            <h4>Built: <%=venue.year%></h4>
            <h4>Capacity: <%=venue.capacity%></h4>
            <h4>Primary sport: <%=venue.pSport%></h4>
            <h4>Primary home team: <%=venue.pTeam%></h4>
          </a>
        </div>
      <% } %>
    </div>
  </main>
  

</body>
</html>